body {
    background-color: yellow;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    background-size: 100%;
}

body:hover {
    background-color: blue;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    background-size: 100%;
}